@model coursach.ViewModels.RequestViewModel

@{
    ViewData["Title"] = "Edit";
}
<body onload="SetMinDate()">
    <h1>Edit</h1>

    <h4>Изменение заявки</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullNameClient" class="control-label"></label>
                    <input asp-for="FullNameClient" class="form-control" readonly />
                    <span asp-validation-for="FullNameClient" class="text-danger"></span>
                </div>
                @* <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <input asp-for="ClientId" class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="TechnicalTask" class="control-label"></label>
                    <input asp-for="TechnicalTask" class="form-control" />
                    <span asp-validation-for="TechnicalTask" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" readonly />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreationDate" class="control-label"></label>
                    <input asp-for="CreationDate" type="date" class="form-control" readonly />
                    <span asp-validation-for="CreationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TakeDate" class="control-label"></label>
                    <input asp-for="TakeDate" type="date" class="form-control" id="date" />
                    <span asp-validation-for="TakeDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StatusId" class="control-label"></label>
                    <select asp-for="StatusId" asp-items="ViewBag.StatusName" class="form-control"></select>
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>
                @* <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="EmployeeInfId" class="control-label"></label>
                    <select asp-for="EmployeeInfId" asp-items="ViewBag.EmployeeLastName" class="form-control"></select>
                    <span asp-validation-for="EmployeeInfId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Применить изменения" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
